%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

%btn {                       // button styling
  @include font-size(14px);
  text-transform: uppercase;
  color: $white; 
  width: 100%;
  display: block;
  margin: 25px auto 0;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 5px;
  box-shadow: none;
  border: none;
}

  // Center alignment

%center-align {
	text-align: center;
}


%link { 
  text-decoration: none;
}

%nav__item {               
  @include font-size(18px);
  border-radius: 6px;
  padding: 15px 0;
  margin: 0 auto;
  width: 80%;
  margin-bottom: 2px;
  text-decoration: none;
  list-style-type: none;
  letter-spacing: 0.6px;
}

%image {
  margin: 0 auto;
  display: block;
}

%headlines {
  width: 80%;
  margin: 0 auto;
  font-family: $stack-sans-serif;
}

%font {                       
  font-family: $stack-sans-serif;
}


%extra-room {         
  padding: 9px 0;
  margin-bottom: 6px;
}