
// Descriptive color variables

$white : #fff;
$black : #000;
$grey : #878787;
$sky-blue : #28d5fc;
$green-reg : #5bd688;
$red-reg : #c96464;
$orange-reg : #f87642;
$purple-reg : #835f9b;
$green-pastel  : #40d8af;
$teal-reg: #4deed3;

// Functional color variables

$color-prim : $green-pastel ;
$color-sec : $green-reg;

$color-text-light : $white;
$color-text-base : $grey;
$color-text-dark : $green-reg;
$color-text-strong : darken($grey, 10);

$color-border-light : lighten($grey, 35%);
$color-border-dark  : $green-pastel ;

$color-link-default : $sky-blue ;
$color-link-visited : $sky-blue;

$color-shadow       : rgba($black,.8);
$color-body         : $white;

// UI Colors

$ui-colors: (
	default : $sky-blue,
);

//Font Stacks
$stack-sans-serif : Helvetica, Arial, sans-serif;

// Text

$base__font-size : 16px;
$base__line      : 24px;
$letter-space    : 1px;

// Font Weights

$font-weight--thin       : 100;
$font-weight--light      : 300;
$font-weight--medium     : 400;
$font-weight--bold       : 700;
$font-weight--ultra-bold : 900;


// Border radius

$br: .4em;

$color__col-12       : lighten($teal-reg, 15);
$color__col-8        : lighten($orange-reg, 15);
$color__col-7        : lighten($red-reg, 15);
$color__col-6        : darken($sky-blue, 20);
$color__col-5        : lighten($green-reg, 15);
$color__col-4        : lighten($sky-blue, 15);
$color__col-3        : lighten($purple-reg, 15);

// Transitions

$trns-duration   : .3s;

//Asset path

$path-img : '../images';

$path-font : '../fonts';

// Grid

$g-col-width    : 65px;
$g-gutter-width : 20px;
$g-col-count    : 12;
$g-cont-max-w   : 1050px;

// Media Query breakpoints
$breakpoints: (
	small: 480px,
	medium: 768px,
	large: 1400px,
);

$brk-narrow : '(max-width: 768px)';
$brk-wide : '(max-width: 1024px)';