
[class^="btn"] {
    @extend %btn;
  }
  
  // List of colors
  
  $def: default, $sky-blue;
  $succ: success, $green-reg;
  $error: error, $red-reg ;
  $warn: warning, $orange-reg ;
  $info: info, $purple-reg ;
  
  @each $type, $back in $def,$succ,$error,$warn,$info {
    .btn--#{$type} {
      background-color: $back;
    }
  }
  
  
  // headline space
  
  [class^="btn"]:first-child {
    margin-top: 40px;
  }