.btn, .theme_colors {
    &--default {
        width: 100%;
        display: block;
        margin-bottom: 20px;
        padding: em(15px,18px);
        border-radius:  $br;
        color: $white;
        background-color: $sky-blue;
    }
    &--success {
        width: 100%;
        display: block;
        margin-bottom: 20px;
        padding: em(15px,18px);
        border-radius:  $br;
        color: $white;
        background-color: $green-reg;
    }
    &--error {
        width: 100%;
        display: block;
        margin-bottom: 20px;
        padding: em(15px,18px);
        border-radius:  $br;
        color: $white;
        background-color: $red-reg;
    }
    &--warning {
        width: 100%;
        display: block;
        margin-bottom: 20px;
        padding: em(15px,18px);
        border-radius:  $br;
        color: $white;
        background-color: $orange-reg;
    }
    &--info {
        width: 100%;
        padding: em(15px,18px);
        border-radius:  $br;
        display: block;
        color: $white;
        background-color: $purple-reg;
    }

}

[class^="btn--"] {
    @extend %center-align;
    @extend %btn;
    margin-bottom: em(20px, 14px); 
    @media (min-width: 1px) and (max-width: 768px) {
        width: 100%;
    }
    @media (min-width: 769px) { 
      width: auto;
      display: inline-block;
      @include doubly(20px);
    }
  }