.form__input{
    @include text(14px); 
    width: 90%;
    display:block;
    border:none;
    margin: 25px auto 15px;
    line-height: 26px;
    border-bottom: $green-pastel 8px solid;
    padding-bottom: 10px;
    text-indent: 10px;
    }
.btn--default {
    background-color: $sky-blue;
}


.form__label--hidden {
   display:none;
}

