@include mq(small) {
  .nav {
    text-align: center;
  }
  .img--logo {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 100px;
  }

  .headline--secondary {
    text-align: left;
    width: 90%;
}
.card p {
  font-size: 18px; 
  padding-right: 30px;
}
  .blockquote {
    @include text(1.5em, 1.2, $color: $grey);
    font-style: italic;
    padding-left: 20px;
    padding-right: 80px;
    border-left: 10px solid $green-pastel;
    border-radius: 5px;
    margin-right: 10px;
    margin-left: 18px;
    font-weight: $font-weight--light; 

}

}
// min-width 768

@include mq(medium) {
  .nav {
    text-align: center;
  }
  .img--logo {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 100px;
  }
   .nav__item {
    display: inline-block;
    width: 15%;
  }
 
  #type {
    text-align: left;
    width: 95%;
  }

}

// min-width 1400

@include mq(large) {
  .grid__row {
    @include flexbox;
    width: 85%;
    margin: 0 auto;
    align-content: space-between;
    text-align: left;
  }
  .nav {
    text-align: left;
  }
  .img--logo {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: -300px;
  }

[class*="grid__col--"] {
  @include flex(auto);
  width: 80%;
  margin: 25px 5px;
  padding: 0;
  text-align: center;
}

.grid__col--3 {
  justify-content: space-between;
  width: 10%;
  align-self: center;
}

.grid__col--9 {
  text-align: left;
  width: 30%;
}

.nav__item {
  padding: 7px 0;;
  margin-top: 10%;
}

p {
  width: 90%;
  text-align: left;
}
.card p {
  font-size: 18px; 
  width: 87%;
}

.grid__col--6 {
  align-self: center;
}

.grid__col--8 {
  flex: 4 0.3 auto;
  text-align: left;
}

.blockquote {
  padding-left: 40px;
  padding-right: 155px;
}

.grid__col--12 {
  @include flexbox;
  @include flex-direction(row);
  justify-content: space-around;
  margin: 0 auto;
  > [class*="btn"] {
    width: 15%;
    align-self: center;
    margin: 45px auto 0;
  }
}

.grid__col--7 {
  flex: 4 0.6 auto;
}

.grid__row {
  &:last-of-type {
    width: 50%;
  }
  & .centered {
  margin-bottom: 100px;
  }
}
}

.grid__row {
   color: $grey;
   margin-bottom: 15px;
   font-family: $stack-sans-serif;
   width: 90%;
   margin: 0 auto 30px;
}

$twelve: 12, $color__col-12; 
$eight: 8, $color__col-8;
$seven: 7, $color__col-7;
$six: 6, $color__col-6;
$five: 5, $color__col-5;
$four: 4, $color__col-4;
$three: 3, $color__col-3;


@each $grid, $color in $twelve,$eight,$seven,$six,$five,$four,$three {
    .grid__col--#{$grid}.theme__colors {
      @include font-size(15px);
      @extend %extra-room;
      font-weight: $font-weight--medium;
      text-indent: 8px;
      border-radius: 6px;
      background-color: $color; 
      color: $color-text-strong;
      padding-top: 15px;
      padding-bottom: 15px;
    }
  }

