
.nav__item {
  background-color: $white;
  display:block;
  padding-top: 5px;
  padding-bottom: 5px;
 
  @include font-size(18px);
}  
.nav__item a {
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 5px;
  color: $grey;    
  display:block;
  text-align: center;
  text-decoration: none;
}
.nav__item a:hover {
  background-color: $green-pastel;
  color: $white;
}