.container {
    margin: 0 auto;
}
.card a {
  color: $sky-blue; 
 }
.headline--primary {
    @include text(1.9em, null, bold, $color: $green-pastel);
    margin-left: 30px;
    margin-right: 40px;
}
.headline--secondary {
    @include text(1.2em, null, null, $color: $grey);
    margin-top: 50px;
    margin-bottom: 30px;
    margin-right: auto;
    margin-left: auto;
    font-weight: $font-weight--thin; 
}
