
//=============
//Base Styles
//=============
* {
    border: 1px solid red;
}
p {
   @include text(1em, 1.5, $color: $grey);
}

.blockquote {
    @include text(1.5em, 1.2, $color: $grey);
    font-style: italic;
    padding-left: 20px;
    padding-right: 73px;
    border-left: 10px solid $green-pastel;
    border-radius: 5px;
    margin-right: 10px;
    margin-left: 18px;
    font-weight: $font-weight--light; 

}


